@import 'variables';
@import '@fontsource-variable/manrope';

body {
	margin: 0;
	padding: 0;
	background-color: $color2;
	color: $color3;
	font-family: 'Manrope Variable', sans-serif;
	font-weight: 500;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.create-post {
	display: flex;
	margin-bottom: 20px;
}

.input {
	all: unset;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid $color3;
}

.send {
	all: unset;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	padding: 10px 10px 10px;
	border-bottom: 1px solid $color3;
}

a {
	color: $color1;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

::selection,
::-moz-selection {
	background: $color1;
	color: $color3;
}

.btn {
	all: unset;
	cursor: pointer;
	padding: 5px;
	border: 1px solid $color1;
	border-radius: 5px;
	background-color: $color2;
	color: $color3;
	text-align: center;

	&:hover {
		background-color: $color1;
		color: $color2;
	}
}

.btn-red {
	border-color: $color4;

	&:hover {
		background-color: $color4;
	}
}

dialog {
	z-index: 999;
	background-color: rgba($color: $color2, $alpha: 0.2);
	border: none;
	backdrop-filter: blur(2px);
	color: $color3;
	position: fixed;
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;

	.modal {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		.dialog-content {
			width: calc(85% - 40px);
			max-width: 350px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			border: 1px solid $color1;
			padding: 20px;
			border-radius: 6px;
			background-color: rgba($color: $color2, $alpha: 0.8);

			.buttons {
				display: flex;
				gap: 10px;

				.btn {
					width: 100%;
				}
			}
		}
	}

	&::backdrop {
		filter: blur(10px);
	}
}
