@import 'variables';
@import '@fontsource-variable/manrope';

body {
	margin: 0;
	padding: 0;
	background-color: $color2;
	color: $color3;
	font-family: 'Manrope Variable', sans-serif;
	font-weight: 500;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.create-post {
	display: flex;
	margin-bottom: 20px;
}

.input {
	all: unset;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid $color3;
}

.send {
	all: unset;
	cursor: pointer;
	display: flex;
	align-items: flex-end;
	padding: 10px 10px 10px;
	border-bottom: 1px solid $color3;
}

a {
	color: $color1;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

::selection,
::-moz-selection {
	background: $color1;
	color: $color3;
}
